@font-face {
  font-family: FontAwesome;
  src: url("assets/fonts/free-fa-solid-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: Poppins, sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, #e9993d, #ec2c2c);
  height: 100vh;
}

.input-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.tasks-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}

.title {
  display: flex;
  justify-content: center;
  color: white;
}

.delete-button {
  margin-left: 0.5rem;
}

.task__done {
  text-decoration: line-through;
}

footer {
  position: fixed;
  top: 95vh;
}
