* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lightBlue: #bff5ec;
  --blue: #23c2f7;
  --green: #0bf063;
  --red: #f857a6;
}

.container {
  min-height: 100vh;
  background: linear-gradient(90deg, #23c2f7, #0bf063);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  min-height: 30rem;
  min-width: 20rem;
  display: grid;
  grid-template-rows: 0.23fr 0.87fr;
}

.screen {
  background-color: #00372b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.8rem;
  color: var(--lightBlue);
  padding: 0 0.25rem;
  caret-color: transparent;
}

.screen:focus,
.screen:hover,
.screen:active {
  outline: none;
}

.error {
  /* display: none; */
}

.keypad {
  background-color: white;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.keypad button {
  border: 1px solid white;
  background: var(--lightBlue);
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.keypad button:hover {
  color: var(--lightBlue);
  background-color: #00372b;
}

.keypad button:first-child {
  grid-column: span 2;
}

.keypad button:last-child {
  grid-column: span 2;
}
